@{
    ViewBag.Title = "Информация";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ИС "Кинозвёзды" предоставляет актуальную информацию о кинозвёздах, фильмах и режиссёрах, а так же многое другое.</p>
