@{
    ViewBag.Title = "Связаться";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Студент 4 курса ФМИ<br />
    Направление МОиАИС<br />
    Телефон 8(904)526-53-89
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:niko.petruhin@yandex.ru">niko.petruhin@yandex.ru</a><br />
</address>